.back{
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 0px;
    height: 24px;
    cursor: pointer;
}

.image{
    max-width: 95%;
    
}

.flex-container {
    display: flex;
}

.flex-child-left {
    margin-left: 24px;
    
    max-width: 20%;
}  
.flex-child-middle {
    margin-left: 24px;
    margin-right: 24px;
   
    max-width: 60%;
}  

.flex-child-right {
    margin-left: 24px;
    max-width: 20%;
    min-width: 15%;
}  

.trailer{
    width: 420;
    height: 315;
}

.star:hover {
    fill: yellow;
  }
  
  .artists {
    margin-top: 16px;
    margin-bottom: 16px;
  }